<%- include("./includes/head") %>
  <link rel="stylesheet" href="/css/empdetails.css" />
</head>
<body>
  <%- include("./includes/navigation") %>
  <h1><u>You are viewing details of one employee</u></h1>
  <div>
    <% for(employees of emp){ %>
    <div class="card">
      <div class="container">
        <h2 class="title">Name :- <%= employees.name %></h2>
        <h3>Email :- <%= employees.email %></h3>
        <h3>Phone :- <%= employees.phone %></h3>
        <h3>City :- <%= employees.city %></h3>
        <h3>DOB :- <%= employees.dob %></h3>
      </div>      
    </div>
    <p>
      <a href="http://localhost:8000/"><button class="button">Click Here To View All Employees</button></a>
    </p>
    <% } %>
  </div>
  <%- include("./includes/footer") %>
</body>
